<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <div class="split left">
        <div class="centered">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/products/image1.jpeg" style="width:100%">
                </div>
    
                <div class="mySlides fade">
                    <img src="../static/products/image2.jpeg" style="width:100%">
                </div>
    
                <div class="mySlides fade">
                    <img src="../static/products/image3.jpeg" style="width:100%">
                </div>
    
                <div class="mySlides fade">
                    <img src="../static/products/image4.jpeg" style="width:100%">
                </div>
    
                <div class="mySlides fade">
                    <img src="../static/products/image5.jpeg" style="width:100%">
                </div>
    
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
    </div>    

<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";
        setTimeout(showSlides, 10000); // Change image every 5 seconds
    }

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }
</script>

<div class="split right">
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="d-flex flex-column col-md-8">
                <div>
                    <label for="">Positive Sentiments : {{ data.positive }}</label>
                </div>
                <div>
                    <label for="">Negative Sentiments : {{ data.negative }}</label>
                </div>
                <div>
                    <form method="post">
                      <textarea name="text"></textarea>
                      <input type="submit">
                    </form>
                </div>

                <div class="coment-bottom bg-white p-2 px-4">
                    {% for review in data.reviews %}
                    <hr/>
                      <div
                          class="commented-section mt-2">
                          <div class="d-flex flex-row align-items-center commented-user">
                              </div>
                              <div class="text-nowrap bd-highlight"><span>{{ review }}</span></div>
                              <hr/>
                    {% endfor %}
                  </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>